<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190437427220-jn0ujvk6nef28et64drfjvr22buj4au0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190437427220-jn0ujvk6nef28et64drfjvr22buj4au0</string>
	<key>API_KEY</key>
	<string>AIzaSyD4lQPK4YPivmEXXAKq9KznXL2evNGz9bE</string>
	<key>GCM_SENDER_ID</key>
	<string>190437427220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>L-atelier-du-Pingouin.Le-Art</string>
	<key>PROJECT_ID</key>
	<string>al-noor-film-club</string>
	<key>STORAGE_BUCKET</key>
	<string>al-noor-film-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190437427220:ios:a83b3ee0b7143fb4e2bf01</string>
</dict>
</plist>